@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');

/*███𝐌𝐀𝐈𝐍███*/

@font-face {
    font-family: Absolver;
    src: url(../../../Images/Absolver/projects/Font/Absolver\ v1.4.ttf);
}

body{
	background: #333;
	background-image: var(--image);
	background-position: center center;
	background-size: 100%;
	image-rendering: pixelated;
	font-family: 'Rubik';
	font-size: 21px;
	color: var(--color);
	margin: 0;
	overflow: auto;
}

/*███Text███*/
h1{
	font-family: 'Absolver';
	text-align:center;
	font-weight: 800;
	font-size: 90px;
	margin-block-start: 30px;
	margin-block-end: 30px;
}

h2{
	font-family: 'Absolver';
	text-align:center;
	font-weight: 800;
	font-size: 60px;
	margin-block-start: 21px;
	margin-block-end: 21px;
}

h3{
	font-family: 'Absolver';
	font-weight: 800;
	font-size: 45px;
	margin-block-start: 0;
	margin-block-end: 0;
}

a{
	color: var(--color);
}

q{/* Небольшие цитаты, мои мысли */
	quotes:none;
	font-style: italic;
	color:  #73a4a4;
}

q a{
	color:  #73a4a4;
}

blockquote{/* Блоки цитат/непрогружанный твит */
	border: 6px solid #ccc4b5;
}

blockquote a{
	text-decoration: none;
}

/*███Списки███*/
ul{
	margin-top: 0;
	list-style-image: var(--ico);
}

ol{
	margin-top: 0;
	list-style-image: none;
}

li{
	margin-block-start: 0.3em;
}

li p{
	margin-block-start: 0;
	margin-block-end: 0.6em;
}

#long li{/* Списки с большими текстами. Для удобства чтения увеличиваеться растояние между каждым элементом */
	margin-block-end: 1em;
}

#long li li{
	margin-block-end: 0;
}

/*███Структура сайта███*/
header{
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background:  url(../../../Images/Absolver/background_beige.jpg);
	z-index: 4;
}

header a, header fieldset{
	margin: 12px;
}

#fon, #fonf{/* Обычный фон */
	height: 60vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url();
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
	color: #f5f9cc;
}

#fonf{/* Фон с затемнением */
	height: 70vh;
	position: relative;
}

#fonf::before{/* Его затемнение */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000004d;
  z-index: 1;
}

#fonf *{/* Удалить затемнение с текста фона */
	position: relative;
	margin-top: 69px;
	z-index: 2;
}

main{
	width: 100%;
	min-height: calc(100vh - 202px);
}

@media (max-width: 1200px){
	#C{
		margin: 0 1% 0 1%;
	}
}

@media (min-width: 1200px){
	#C{
		margin: 0 15% 0 15%;
	}
}

footer, footer iframe{
	overflow: hidden;
	width: 100%;
	height: 112px;
}

/*███Masks███*/

.masks1, .maskL1, .mask16{
    -webkit-mask-repeat: round;
	mask-repeat: round;
	object-fit: cover;
}*

.masks1{
	-webkit-mask-image: url(../../../Images/Absolver/Stencils/1x1-s1.svg);
	mask-image: url(../../../Images/Absolver/Stencils/1x1-s1.svg);
	aspect-ratio: 1 / 1;
}*

.maskL1{
	-webkit-mask-image: url(../../../Images/Absolver/Stencils/1x1-L1.svg);
	mask-image: url(../../../Images/Absolver/Stencils/1x1-L1.svg);
	aspect-ratio: 1 / 1;
}*

.mask16{
	-webkit-mask-image: url(../../../Images/Absolver/Stencils/16x9-L1.svg);
	mask-image: url(../../../Images/Absolver/Stencils/16x9-L1.svg);
	aspect-ratio: 16 / 9;
}*

.mask-border{
	-webkit-mask-box-image: url(../../../Images/Absolver/Stencils/UI_box.png) 65;
}*

/*███Прочее███*/
iframe{
	border: 0px;
}

hr{/* Линия для разрыва текста */
	background-image: var(--sprt);
	background-size: 100%;
	width: 100%;
	height: 3px;
	margin: 9px 0;
	border:none
}

#video{
	position: relative;
	width: 100%;
	aspect-ratio: 16/9;
}

#video iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#button{/* Ссылка стелизованная под кнопку */
	display: inline-block;
	cursor: pointer;
	font-size:12px;
	text-decoration:none;
	padding:10px 20px;
	color: #f5f9cc;
	background:#201c1d;
	border-radius:0px;
	border:3px solid  #f5f9cc;
}
#button:hover{
	background:#ccc7b6;
	color:#201c1d;
	border:3px solid #201c1d;
	transition: all 0.6s ease;
}

/*███𝐍𝐄𝐖𝐒███*/

time{
	font-weight: 600;
	font-size: 12px;
	color: #ff9900;
}

#author, #author a{
	color: #00ffff
}

cite, cite a{/* Ссылка на Оригинал */
	color: #ff9900;
	font-weight: 600;
	font-style: normal;
}

#center{/* Выравнивание изображения по центру */
	display: block;
	margin: 0 auto;
	width: 80%;
	max-width: max-content; /* не даёт изображению становиться больше реального размера */
}


/*███𝐖𝐎𝐑𝐊𝐒███*/

.block, .block-close{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.block{
	display: none;
	z-index: 5;
}

.block:target{
    display: block;
	body {
		overflow: hidden;
	}
}

.block iframe{
    position: relative;
	padding: 10px;
	width: calc(80% - 20px);
	height: calc(90% - 20px);
	left: 10%;
	top: 3%;
}

.block::before{
	content: "";
	position: absolute;
	width: 80%;
	height: 90%;
	left: 10%;
	top: 3%;
	background-color: #000c;
	-webkit-mask-box-image: url(../../../Images/Absolver/Stencils/UI_box.png) 65;
}

.disable-scroll {
    overflow: hidden;
}

/*███𝐈𝐓𝐄𝐌𝐓𝐀𝐁𝐋𝐄███*/

@media (min-width: 708px) {
	itemtable{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 12px;
	}
	itemtable p{
		margin-block-start: 0;
		margin-block-end: 0;
	}
}

itemtable *:not(.I){
	grid-column-start: 1;
	grid-column-end: 3;
}

.I{text-align: center;}
.I img{width: 100%;}

#IT{
	width: 100%;
	text-align: center;
}

#i{
	display: inline-table;
	margin: 0 12px;
	text-decoration: none;
}

#i img{
	width: 256px;
	height: 256px;
	object-fit: cover;
	object-position: center;
	-webkit-mask-box-image: url(../../../Images/Absolver/Stencils/UI_box.png) 65;
}

#i p{
	margin-top: 0;
	margin-block: -18px;
	transform: translate(-6px, -30px);
	padding: 5px 10px;
	max-width: 236px;
	width: fit-content;
	background: rgba(255,255,230,0.9);
	font-size: 20px;
	color: #201c1d;
	font-weight: 600;
}

#i #Top{
	max-width: 246px;
	padding: 5px;
	background: #feffb4;
	font-weight: 900;
}

#i:hover #Top{
	background: #fa9600;
}

#i:hover p{
	background: #fa9600e6;
}

/*███𝐒𝐜𝐫𝐨𝐥𝐥𝐁𝐚𝐫███*/

::-webkit-scrollbar{
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track{
	background: #666666; 
}

::-webkit-scrollbar-thumb{
	background: #c4c4c4; 
}

::-webkit-scrollbar-thumb:hover{
	background: #e6e6e6; 
}

/*███𝐓𝐡𝐞𝐦𝐞███*/

.switcher{
	width: 96px;
	height: 32px;
	position: relative;
	padding: 2px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border: none;
}

.switcher__radio{
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
	width: 32px;
	height: 32px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 24px;
	transition: filter 0.1s ease-in;
}

.switcher__radio:focus{
	outline: none;
}

.switcher__radio--light{
	background-image: url(../../../Images/icons/light.svg);
	z-index: 2;
}

.switcher__radio--auto{
	background-image: url(../../../Images/icons/auto.svg);
	z-index: 2;
}

.switcher__radio--dark{
	background-image: url(../../../Images/icons/dark.svg);
	z-index: 2;
}



.switcher__status{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	box-shadow: 0 0 0 2px rgb(0 0 0 / 0.2);
	border-radius: 18px;
	background-color: rgb(255 255 255 / 0.5);
	background-repeat: no-repeat;
	background-image: url(../../../Images/icons/status.svg);
	background-size: 32px;
	background-position: center;
	transition: background-position 0.1s ease-in;
}

.switcher__radio:focus-visible ~ .switcher__status{
	box-shadow: 0 0 0 2px #000;
}

.switcher__radio--light:checked ~ .switcher__status{
	background-position: left 2px center;
}

.switcher__radio--auto:checked ~ .switcher__status{
	background-position: center center;
}

.switcher__radio--dark:checked ~ .switcher__status{
	background-position: right 2px center;
}