* {
	--image: url(../../Images/Absolver/background_brown.jpg);
	--color:#f5f9cc;
	--ico: url(../../Images/Absolver/list-style-D.png);
	--Color: #444;
	--Color2: #000;
	--p: #ddd;
	--h2: #fff;
}

.switcher__radio {
	filter: invert(1);
}

.switcher__radio:checked {
	filter: invert(0);
}

.switcher__status {
	filter: invert(1);
}
